snippet tag "Generic Tag"
<$1${2: class="${3:}"}>
  ${VISUAL}$0
</$1>
endsnippet
snippet div "Div" !
<div${1: id="${2:}"}${3: class="${4:}"}>
  ${VISUAL}$0
</div>
endsnippet

snippet divc "Div with class" !
<div class="${1:}">
  ${VISUAL}$0
</div>
endsnippet

snippet heading "Heading"
<h$1${2: class="${3:}"}>
  ${VISUAL}$0
</h$1>
endsnippet

snippet header "Header"
<header>
  ${VISUAL}$0
</header>
endsnippet

snippet footer "Footer"
<footer>
  ${VISUAL}$0
</footer>
endsnippet
